<section id="testimonials-wrap" class="testimonial-wrap p-t-b-80">
    <div class="container">
        <div class="row">
            <div class="section-header col-md-12 mb-5">
                <h2 class="font-weight-bold">What our customers says</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12   mb-4  single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">




                        <p class="mb-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/15.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Jhone Doe</span >
                             <span class="user-designation w-75 float-right">Product Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12  mb-4  single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">



                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/2.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Alex Dan</span>
                            <span class="user-designation w-75 float-right">Creative Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-4 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">



                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/3.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Smith Doe</span>
                            <span class="user-designation w-75 float-right">Assistant Director</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0  mb-4 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">



                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/5.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Micheal Clark</span>
                            <span class="user-designation w-75 float-right">Marketing Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0  mb-4 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">



                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/12.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Jassica June</span>
                            <span class="user-designation w-75 float-right">Frontend Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->
            <div class="col-md-6 col-lg-4 col-sm-12 mb-lg-0 mb-md-0 mb-sm-0 mb-0 single-testimonial-wrap">
                <div class="card  p-3">

                    <div class="card-body">



                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>



                        <div class="test-user-details text-left abs">
                            <div class="user-img w-20 float-left mr-1">
                                <img src="./assets/images/landing/faces/13.jpg" class="rounded-circle" alt="">
                            </div>
                            <span class="user-name font-weight-bold mt-1 w-75 float-right">Gray Simon</span>
                            <span class="user-designation w-75 float-right">Production Leader</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of single testimonial -->

        </div>
    </div>
</section>
