<section id="services-wrap" class="services-wrap light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Our Services</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/service1.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Service One</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet additional adipiscing elit Aenean commodo ligula</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>


            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services9.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Service Two</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services10.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Service Three</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services5.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold ">Service Four</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services6.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold  ">Service Five</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <!--  -->
                    </div>


                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0">


                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services14.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Six</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden mb-4 mb-lg-0 mb-md-0">

                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services15.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Service Seven</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
                <div class="card o-hidden  mb-lg-0 mb-md-0">
                    <!-- <div class="card-header p-5 text-center">
                        <i class="eva eva-save-outline"></i>
                    </div> -->
                    <div class="card-header p-0 text-center ">

                        <img class="img-responsive" src="./assets/images/landing/services/services16.svg">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-capitalize font-weight-bold">Servcie Eight</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>

                    </div>
                    <div class="card-footer pl-3">
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-link-2-outline"></span>
                        </a>
                        <a href="#" class="btn btn-lg p-1 mr-1 text-dark">
                            <span class="eva eva-share"></span>
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>

</section>
