<nav id="home-header" [ngClass]="{'header-fixed': isFixed}" class="navbar navbar-expand-lg text-16 ">
    <div class="container">


        <div class="d-flex flex-grow-1 mobile_menu">
            <span class="w-100 d-lg-none d-block">
    <!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand-two mx-auto  d-inline-block" href="#">
                <img src="assets/images/SkepWhiteFlatWH_trimmed.png" alt="Skep Tecnology logo">
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-icon">
<i class="eva eva-menu-outline text-30 text-white"></i>
      </span>

    </button>
            </div>
        </div>
        <div class="collapse  navbar-collapse flex-grow-1 text-right" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item" (click)="hidemenu()">
                    <a href="#" scrollTo="intro-wrap" class="nav-link m-2 menu-item nav-active">Home</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="teams-wrap" class="nav-link m-2 menu-item nav-active">Team</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="services-wrap" class="nav-link m-2 menu-item">Services</a>
                </li>
                <!-- drop down menu start -->
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item">Other Sections</a>
                    <!-- First  Drop Down -->
                    <ul>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="#" scrollTo="features-wrap" class="  menu-item">Features</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="#" scrollTo="testimonials-wrap" class="  menu-item">Testimonial</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="#" scrollTo="extra-feature-wrap" class="  menu-item">Extra features</a>
                        </li>
                        <li><a>Second Level</a>
                            <!-- Second  Drop Down -->
                            <ul>
                                <li (click)="hidemenu()" class="nav-item">
                                    <a href="#" scrollTo="news-wrap" class="  menu-item">Blog</a>
                                </li>
                                <li (click)="hidemenu()" class="nav-item">
                                    <a href="#" scrollTo="faqs-wrap" class="  menu-item">Faqs</a>
                                </li>
                                <li><a>Third Level</a>
                                    <!-- Third  Drop Down -->
                                    <ul>
                                        <li><a href="#">Menu Item</a></li>
                                        <li><a href="#">Menu Item</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- drop down menu end -->
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="works-wrap" class="nav-link m-2 menu-item">Works</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="contacts-wrap" class="nav-link m-2 menu-item">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
