<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-header mb-5">
                <h2 class="font-weight-bold">Meet the Team</h2>
                <p>The team at Skep Technology have more than four decades of combined experience in making data come 
                    alive, archetecting software solutions, and evluating vendors and tools.</p>
                    <p>We have a wide network of professionals with whom we partner to solve even the biggest problems.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/lecia-headshot.jpg" alt="Lecia Pearce headshot">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Lecia Pearce</h5>
                        <p class="mt-0">Managing Partner, Data Scientist</p>
                        <p>Problem solver.  Team player.<br/>
                            Finds beauty in the details.
                        </p>
                        <a href="mailto:lecia@skeptech.com?subject=Mail from SkepTech.com" target="_blank">
                            <button class="btn btn-gradient">
                                Contact Lecia
                            </button>
                        </a>
                        <div class="card-socials-simple mt-4">
                            <a href="https://twitter.com/roxu74" target="_blank" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/leciapearce/" target="_blank" class="text-20 mr-2">
                                <i class="eva eva-linkedin linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-4 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/brad-headshot.jpeg" alt="Brad Gebert headshot">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Brad Gebert</h5>
                        <p class="mt-0">Managing Partner</p>
                        <p>Loves collaborating with curious<br/>
                            people. Believes in the impossible.
                        </p>
                        <a href="mailto:brad@skeptech.com?subject=Mail from SkepTech.com" target="_blank">
                            <button class="btn btn-gradient">Contact Brad</button>
                        </a>
                        <div class="card-socials-simple mt-4">
                            <a href="https://twitter.com/bgebert" target="_blank" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/bradgebert/" target="_blank" class="text-20 mr-2" >
                                <i class="eva eva-linkedin linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-4 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/bob-headshot.jpg" alt="Bob Brundrett headshot">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Bob Brundrett</h5>
                        <p class="mt-0">Data Scientist Extraordinaire</p>
                        <p>Enjoys finding rational solutions<br/>to irrational problems.</p>
                        <a href="mailto:bob@skeptech.com?subject=Mail from SkepTech.com" target="_blank">
                            <button class="btn btn-gradient">Contact Bob</button>
                        </a>
                        <div class="card-socials-simple mt-4">
                            <a href="https://twitter.com/tterdnurb" target="_blank" class="text-20 mr-2">
                                <i class="eva eva-twitter twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/bobbrundrett/" target="_blank" class="text-20 mr-2" >
                                <i class="eva eva-linkedin linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>