<section class="footer_wrap" id="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">Skep Technology</h4>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class=""> <i class="eva eva-pin-outline mr-2"></i>Alexandria, VA</li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-email-outline mr-2"></i>info@skeptech.com</li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class=""><i class="eva eva-phone-call-outline mr-2"></i>334.502.5483</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
