<div class="landing_wrap" [ngClass]="[backgroundColor]">
    <app-header></app-header>
    <app-intro-main></app-intro-main>
    <app-features-two></app-features-two>
    <app-services-caurosel></app-services-caurosel>
    <app-works1></app-works1>
    <app-best></app-best>
    <app-left-image></app-left-image>
    <app-right-image></app-right-image>
    
    <app-team></app-team>
    <app-testimonial-caurosel></app-testimonial-caurosel>

    <app-news-two></app-news-two>
    <app-faqs></app-faqs>
    <app-contact-form></app-contact-form>
    <app-footer></app-footer>
</div>
