<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Cool stuff we're working on</h2>
                <!--<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>-->

            </div>
            <div class="col-md-12 col-sm-12 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-cube-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Data Analytics</h4>
                                <p>Digging deep to uncover hidden details.</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Insight & Communication</h4>
                                <p>Translating data into business acumen</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-color-palette-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Visualization</h4>
                                <p>A picture's worth a thousand words</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-pricetags-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Save money</h4>
                                <p>Gauge the potential before comitting the many resources</p>
                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>

            </div>
            
        </div>
    </div>
</section>
