<section id="intro-wrap" class="intro-ten-Wrap bg-primary text-left text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 intro-ten-LeftSection pb-3">
                <h1 class=" font-weight-bold text-white text-42 mb-3 t-shadow">Turning Data into Actionable Insights</h1>
                <p class=" text-20 mb-4">Let our team turn analytics into insights, and give you an 
                    edge in understanding your business. </p>
                <div class=" mb-5 lead">
                    
                </div>
            </div>
            <!--
            <div class="col-md-6 intro-ten-RightSection d-flex align-items-center">
                <div class="intro-ten-ProductImage">
                    <img src="./assets/images/landing/svg/v2-header-2.svg" class="img-responsive" alt="" [@animate]="{value:'*',params:{x:'200px',opacity:'0',delay:'100ms', duration: '500ms'}}">
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="overlay">

    </div>

</section>
